
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="/assets/img/logo.png" alt="logo"/> 
    </div>
    <div id="myNavbar">
      <ul class="nav navbar-nav" id="barra-menu">
        <!-- Opciones de menu navbar -->
      </ul>
      <ul class="nav navbar-nav navbar-right" id="barra-menu-derecha">
    <!-- Opciones de menu -->
      </ul>
    </div>
  </div>
</nav>

<!-- Contenido -->
<div class="container">
    <app-characters-component></app-characters-component>
</div>